@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 208 100% 94%; /* Light blue */
    --foreground: 240 10% 3.9%; /* Dark gray */

    --primary: 207 89% 64%; /* Light blue */
    --primary-foreground: 100 0% 98%; /* White */

    --secondary: 197 83% 81%; /* Light pink */
    --secondary-foreground: 0 0% 98%; /* White */

    --accent: 204 90% 35%; /* Light green */
    --accent-foreground: 0 0% 98%; /* White */

    --destructive: 356 93% 51%; /* Light red */
    --destructive-foreground: 0 0% 98%; /* White */

    --border: 66 93% 80%; /* Light gray */
    --input: 255 255 255; /* White */
    --ring: 240 10% 3.9%; /* Dark gray */

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
